# Python cache and compiled files
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/

# Virtual environments (if local)
.venv/
env/
venv/

*.ilp
*.lp
*.mps
*.sol